body {
    background-color: #EAF6F6;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.title {
    /* width: 30vw; */
    /* height: 610px; */
    padding: 20px;
    /* margin: auto; */
    margin: 4% auto;
    border-radius: 35px;
    /* background: #ECF0F3; */
    background-color: #0B5ED7;
    color: white;
    align-content: center;
    text-align: center;
    box-shadow: 13px 13px 20px #5555, -13px 13px 20px #CBCED8
}

.main-div {
    width: 50%;
    height: auto;
    padding: 30px 35px 35px;
    margin: auto;
    margin: 4% auto;
    border-radius: 35px;
    background: #ECF0F3;
    box-shadow: 13px 13px 20px #5555, -13px 13px 20px #CBCED8
}